body,
html {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding-top: 1px;
}

.container {
  display: grid;
  grid-template: 15% 1fr / max(120px, 18%) 1fr;
  height: 100%;
}

.sidebar {
  background-color: darkseagreen;
  grid-column: 1;
  grid-row: span 2;
  display: grid;
  grid-template-rows: 15% repeat(6, 1fr) 5% repeat(3, 1fr) 40%;
  grid-template-columns: 30% 1fr;
  column-gap: 15px;
}

.sidebar li {
  grid-column: 2;
  margin: 0;
  align-self: center;
  list-style-type: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar-icon {
  grid-column: 1;
  height: 35px;
  justify-self: self-end;
}

.top-bar {
  background-color: white;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 70%;
}

.top-bar-top {
  grid-row: 1;
  display: grid;
  grid-template-columns: 10% 40% 20% 10% 1fr;
  gap: 15px;
}

.top-bar-bottom {
  grid-row: 2;
  display: grid;
  grid-template-columns: 15% 50% repeat(3, 1fr);
  /* grid-template-rows: 50% 1fr; */
}

.top-bar-bottom p {
  margin: 0;
}

.content {
  background-color: lightgray;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 50% 1fr / 75% 1fr;
}

.projects {
  background-color: lightgoldenrodyellow;
  grid-column: 1;
  grid-row: span 2;
}

.project-container {
  display: grid;
  padding: 0px 10px;
  gap: 15px;
  grid-template: 150px / 50% 1fr;
  grid-auto-rows: 150px;
  overflow: auto;
}

.announcement-container {
  margin: 0 5% 5% 5%;
  height: 80%;
  width: 80%;
  display: grid;
  background-color: white;
  grid-template-rows: 1fr 5px 1fr 5px 1fr;
  padding: 10px 15px;
}

.announcement-container p {
  margin: 0;
}

.announcement-container div {
  margin: 10px
}

.announcement-container hr {
  width: 90%;
}

.trending-container {
  display: grid;
  margin: -3% 5% 5% 5%;
  height: 75%;
  width: 90%;
  background-color: white;
  grid-auto-rows: 20%;
  padding-top: 10px;
  gap: 10px
}

.trending-profile {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 50% 1fr;
  column-gap: 15px;;
}

.trending-icon {
  grid-row: span 2;
  justify-self: self-end;
  align-self: center;
}

.trending-profile p {
  margin: 0;
}

