body,
html {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding-top: 1px;
}

.container {
  display: grid;
  grid-template: 20% 1fr / max(120px, 18%) 1fr;
  height: 100%;
}

.sidebar {
  background-color: skyblue;
  grid-column: 1;
  grid-row: span 2;
  display: grid;
  grid-template-rows: 15% repeat(6, 1fr) 5% repeat(3, 1fr) 40%;
  grid-template-columns: 30% 1fr;
  column-gap: 15px;
  z-index: 2;
}

.sidebar li {
  grid-column: 2;
  margin: 0;
  align-self: center;
  list-style-type: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar-icon {
  grid-column: 1;
  height: 35px;
  justify-self: self-end;

}

.top-bar {
  background-color: white;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 50%;
  box-shadow: 0 1px 4px grey;
  z-index: 1;
}

.top-bar-top {
  grid-row: 1;
  display: grid;
  grid-template-columns: 10% 40% 30% 5% 1fr;
  gap: 15px;
  align-items: center;
}

.top-bar-top input[type="search"] {
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: lightgray;
}

.top-bar-bottom {
  grid-row: 2;
  display: grid;
  grid-template-columns: 15% 50% repeat(3, 1fr);
  /* grid-template-rows: 50% 1fr; */
}

.top-bar-bottom p {
  margin: 0;
}

.top-bar-username {
  font-size: 20px;
  font-weight: bold;
}

.top-bar-button {
  background-color: dodgerblue;
  color: white;
  height: 32px;
  width: 72px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 24px;
  align-self: center;
}

.greeting-container {
  /* display: grid; */
  /* align-items: center; */
  /* justify-items: center; */
  /* height: 100%; */
  align-self: center;
}

.greeting {
  font-size: 18px;
  font-weight: bold;
}

.greeting-username {
  font-size: 26px;
  font-weight: bold;
}

.top-bar-icon {
  width: 24px;
  justify-self: self-end;
  align-self: center;
}

.username-icon {
  background-image: url(assets/img/aerial-shot-of-trees.jpg);
  height: 50px;
  width: 50px;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: self-end;
  align-self: center;
  margin-right: 10px;
  border-radius: 100%;
}


.content {
  background-color: lightgray;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 55% 1fr / 80% 1fr;
  padding: 10px 15px;
  column-gap: 15px;
}

.content-header {
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.projects {
  background-color: lightgray;
  grid-column: 1;
  grid-row: span 2;
}

.project-container {
  display: grid;
  height: 85%;
  gap: 15px;
  padding: 10px;
  grid-template: 150px / 50% 1fr;
  grid-auto-rows: 150px;
  overflow: auto;
}

.project-card {
  display: grid;
  grid-template-rows: 13% 70% 1fr;
  background: linear-gradient(
    to left,
    white 98%,
    yellow 2%
  );
  border-radius: 10px;
  padding: 5px 12px;
  box-shadow: 1px 1px 4px grey;
  /* background-image: url(assets/img/aerial-shot-of-trees.jpg); */
}

.project-card h3 {
  margin: 0
}

.project-card-button {
  justify-self: self-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
}

.project-card-button object {
  height: 24px
}

.announcement-container {
  margin: 0 5% 5% 5%;
  height: 80%;
  width: 80%;
  display: grid;
  background-color: white;
  grid-template-rows: 1fr 5px 1fr 5px 1fr;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 4px grey;
}

.announcement-container p {
  margin: 0;
}

.announcement-container div {
  margin: 10px
}

.announcement-container hr {
  width: 90%;
}

.trending-container {
  display: grid;
  margin: -3% 5% 5% 5%;
  height: 75%;
  width: 90%;
  background-color: white;
  grid-auto-rows: 20%;
  padding-top: 10px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px grey;
}

.trending-profile {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 50% 1fr;
  column-gap: 15px;;
}

.trending-icon {
  grid-row: span 2;
  justify-self: self-end;
  align-self: center;
}

.trending-profile p {
  margin: 0;
}

